{% extends "layout.html" %} {% block content %}
<br>
<br>
<br>
<h3>{{page.title}}
  <small> (
    <a href=/wiki/{{page.urlTitle}}>Similar</a>)</small>
  </h3>
<h4>by
  <a href="/users/{{authorId}}">{{page.author.name}}</a>
</h4>
<hr/>
<div>{{page.name}}</div>
<div class="page-body">{{page.content}}</div>
<p>tags: {{page.tag}}</p>
<hr>
<a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
<a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}